* {
    color: #FAF9F6;
    font-family: Lancelot;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.header {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.even {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.odd {
    display: flex;
    flex-direction: column;
    background-color: #322F2E;
    align-items: center;
    justify-content: center;
}

.header-image img {
    padding: 0;
    margin: 0;
    width: 600px;
}

.summary-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #322F2E;
}

.summary-subcontainer {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
}

.summary {
    color: #FAF9F6;
    font-size: 42px;
    text-align: center;
}

.nav-bar {
    background-color: #322F2E;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 30px;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: #FAF9F6
}

.character-container {
    display: flex;
    background-color: black;
    padding: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.caunt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caunt-image img {
    display: flex;
    width: 300;
    height: auto;
    align-items: center;
    justify-content: center;
}

.lev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lev-image img {
    display: flex;
    width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.pyotr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pyotr-image img {
    display: flex;
    width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.subsection {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #322F2E;
    margin: 0;
    padding: 40px;
}

.sub-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
}

.sub-text p {
    font-size: 42px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.footer p {
    font-size: 20px;
    margin: 0;
    padding: 20px;
}

.tools-header {
    display: flex;
    padding: 10px 100px;
}

.demiplane-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
}

.demiplane-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
}

.demiplane-container {
    display: flex;
    padding: 20px;
}

.demiplane-container img {
    width: 600px;
}

.foundry-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
}

.foundry-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
}

.foundry-container {
    display: flex;
    padding: 20px;
}

.foundry-container img {
    width: 600px;
}

.forge-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
}

.forge-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
}

.forge-container {
    display: flex;
    padding: 20px;
}

.forge-container img {
    width: 600px;
}

.dungeondraft-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
}

.dungeondraft-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
}

.dungeondraft-container {
    display: flex;
    padding: 20px;
}

.dungeondraft-container img {
    width: 600px;
}